// User account form

s72-useraccount-form {

	.s72-account-pin-not-set-label {
		padding-bottom: 0.5rem;
	}

	.s72-account-pin-form-group {
		.s72-btn-changepin {
			@extend .btn-secondary;
		}
	}
}

// Update pin form

.s72-pincode {
	@extend .s72-form-control;
}

button.s72-btn-age-restriction {
	@extend .btn-primary;
}

form.s72-user-pin-form {
	button.s72-btn-reset-pin {
		@extend .btn-secondary;
	}

	button.s72-btn-submit-pin {
		margin-right: $modal-footer-button-margin;
	}
}

.s72-user-pin-error-limit {
	button.s72-btn-reset-pin {
		@extend .btn-primary;
		margin-right: $modal-footer-button-margin;
	}

	.s72-btn-get-help {
		@extend .d-inline;
	}
}

form.s72-user-reset-pin-form {
	.s72-user-reset-pin-form-header {
		@extend .font-weight-bold;
	}
}
