.s72-search-input {

}


.s72-searchresults-results {
  @extend .page-collection-list-item-wrapper;

  .meta-item {
    @extend .page-collection-item;
    @extend .page-collection-item-6;
    padding-bottom: $grid-gutter-width;
  }
}

.s72-searchresults-empty {
  text-align: center;
}

.s72-form-search,
.s72-searchresults-total {
  max-width: map-get($container-max-widths, md);
  margin: 0 auto 1rem auto;
}